{% extends "::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block styles %}
h1{
    text-align:center;
}
{% endblock %}

{% block musicatoulouse_contenu %}
    <h1>MUSIC@TOULOUSE, c'est quoi ?</h1>
    <br/>

    <p>C'est un <strong>annuaire</strong> des <strong>musiques actuelles</strong> de Toulouse et de ces environs.<br/>
    Vous pouvez y trouver les <strong>artistes</strong>, les <strong>concerts</strong> ou bien encore les <strong>lieux</strong> liés au monde des <strong>musiques actuelles</strong> et ceci pour tous les styles musicaux.</p>

    <p>Le but de ce site est de faire connaitre les musiques actuelles de Toulouse et sa région auprès de tous, de faire découvrir des lieux de concerts qui ne sont pas forcément connus de tous ou bien encore de donner un coup de pouce à un artiste ou à un groupe qui débute.</p>

    <p>Pour participer au projet, c'est simple : <br/>
    en moins de 5 minutes et 3 clics, inscrivez vous sur le site et proposer un artiste, un concert ou un lieu et le tour est joué !<br/>
    Inscrivez-vous <a href="#">ici</a> et proposer vos artistes, vos concerts ou bien vos lieux liés aux musiques actuelles.</p>

    <p>Vous ne souhaitez pas vous inscrire au site, pas de problème. Vous pouvez nous faire vos propositions sans être inscrits mais celles-ci seront étudiées et validées par nos modérateurs.</p>

    <p><strong>Faites vivre ce site car il est fait par vous et pour vous !</strong></p>
{% endblock %}