html, body {
    height: 100%;
    font-family:Arial;
    font-size:12px;
    color:#FFFFFF;
    background-color: #000000;
}
footer {
    color: #666;
    background: #222;
    padding: 17px 0 18px 0;
    border-top: 1px solid #000;
}
footer a {
    color: #999;
}
footer a:hover {
    color: #efefef;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -63px;
}

.push {
    height: 63px;
}
/* not required for sticky footer; just pushes hero down a bit */
.wrapper > .container {
    padding-top: 0;
}

#formulaire {
    background-color:#000;
    padding: 10px;
}

.menu-area {
    padding-left:3px;
    padding-right:3px;
    border: 1px solid #666;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius:10px;
    -webkit-box-shadow:  5px 5px 5px 1px #222;
    box-shadow:  5px 5px 5px 1px #222;
}

.content-area {
    padding-left:3px;
    padding-right:3px;
    margin-bottom:10px;
    border: 1px solid #666;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius:10px;-webkit-box-shadow:  5px 5px 5px 1px #222;
    box-shadow:  5px 5px 5px 1px #222;
}

a{
    text-decoration:none;
    color:#777777;
}

a:hover{
    text-decoration:underline;
    color:#777777;
}

.alignLeft{
	margin:5px;
	float:left;
}

.alignRight{
	margin:5px;
	float:right;
}
.center { text-align: center;}
.left { text-align: left;}
.right { text-align: right;}
.justify { text-align: justify;}
.fleft { float: left;} /*-> similar to .pull-left already existing in bootstrap*/
.fright { float: right;}  /*-> similar to .pull-right already existing in bootstrap*/
.vab { vertical-align: bottom;}
.bold { font-weight: bold;}
.italic { font-style: italic;}